<!doctype html>
<html lang="en" xmlns:th="//http:www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>
<body>
	<section class="ayush d-flex justif y-content-center align-items-center ">
		<div class="text-center">
			<h1>This is about page</h1>
			<p>
				A contact manager is a software program that enables users to easily store and find contact information, such as names, addresses, and telephone numbers. They are contact-centric databases that provide a fully integrated approach to tracking all information and communication activities linked to contacts.
			
			</p>
		</div>
	</section>
</body>
</html>